<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
<!--    <connectionStrings>
        <add name="desktop-n6r6keu\sqlexpress.STD_DB_DICT_HIVE.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-N6R6KEU\SQLEXPRESS;integrated security=SSPI;initial catalog=STD_DB_DICT_HIVE" />
        <add name="DBUpdateWF.Properties.Settings.STD_DB_DICT_HIVEConnectionString"
            connectionString="Data Source=DESKTOP-N6R6KEU\SQLEXPRESS;Initial Catalog=STD_DB_DICT_HIVE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings> -->
</configuration>